.home {
  margin-left: 0px;
  margin-right: 0px;
}

/* Table styles */
@media only screen and (min-width: 600px) {
  .home {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media only screen and (min-width: 1024px) {
  .home {
    margin-left: 120px;
    margin-right: 120px;
  }
}

.title {
  width: 100%;
  text-align: center;
  & h2 {
    font-size: 30px;
    font-weight: 700;
    font-family: serif;
  }
}
