.card {
  width: 300px;
  max-height: 482px;
  border-radius: 4px;
  background: #fff;
  padding: 16px;
  & :hover {
    cursor: pointer;
  }
  & .card-content {
    position: relative;
    width: 298px;
    height: 298px;
    margin-bottom: 17px;
    & .card-img {
      z-index: 1;
      display: inline-block;
      position: absolute;
      & img {
        display: block;
        width: 298px;
        height: 298px;
      }
    }
    & .card-stock {
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #1b1b1b;
      padding: 4px 8px;
      align-items: center;
      font-family: Rubik;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      color: #ffffff;
    }
    & .card-actions {
      z-index: 2;
      position: absolute;
      bottom: 0;
      right: 0;
      & .actions-btn {
        width: 40px;
        height: 40px;
        margin-right: 8px;
        margin-bottom: 8px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }
    & .card-discount {
      z-index: 2;
      position: absolute;
      bottom: 0;
      font-family: Rubik;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 16px;
      color: #200f1e;
      margin-left: 19px;
      margin-bottom: 10px;
    }
  }
  & .card-category {
    color: #1b1b1b;
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 9px;
    text-transform: capitalize;
  }
  & .card-title {
    color: #1b1b1b;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
  }
  & .card-price {
    color: #1b1b1b;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 16px;
  }
  & .card-divider {
    display: block;
    height: 1px;
    background-color: #606060;
    margin-top: 16px;
    margin-bottom: 8px;
  }
  & .card-button {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    & button {
      border: none;
      background-color: transparent;
      color: #1b1b1b;
      font-family: Rubik;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 16px;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
    }
    & :hover {
      color: blue !important;
    }
  }
}

.text-red {
  color: #da0000 !important;
}
